<main class="img-container">
  <div class="container-fluid p-0">
    <div class="contenedor d-flex align-items-center justify-content-center">
      <div class="row contenedor1 p-0">
        <div class="col-12 p-0">
          <div class="p-5 contenedor2 rounded-top bg-primary">
            <h4 class="text-white text-center">
              Creating email templates has never been easier.
            </h4>
          </div>
          <div class="p-4 bg-white">
            <p class="text-center">
                Receive daily emails on how to best create email templates, completely free.
            </p>
            <span class="d-flex justify-content-between">
                <input type="email" class="btn" placeholder="Email Address">
                <button class="btn ms-2 bg-primary text-white">Subscribe</button>
            </span>
            <p class="text-muted pt-2">
                No spam, ever. Unsubscribe anytime.
            </p>
          </div>
          <div class="ps-5 pe-5 rounded-bottom pb-4 bg-white">
            <span class="d-flex justify-content-center">
                <img src="../../../assets/User Avatar.svg" alt="user" class="img-fluid rounded-pill">
                <span class="ms-2">
                    <h6 class="mb-0">Andrew Vickins</h6>
                    <p class="mb-0 text-muted fs-7">Newsletter Designer</p>
                </span>
            </span>
            
            <p class="text-center mt-3">"By far one of the best newsletter i've ever subscribed to. It is sen biweekly and i'm always looking forward to their emails"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
