.contenedor2 {
    background-image: url(../../../assets/Pattern.png);
    background-position: center;
    background-repeat: no-repeat;
}
.contenedor1 {
    width: 100%;
}
input {
    outline: none;
    text-decoration: none;
    background-color: rgb(230, 228, 228);
    color: gray;
    border: 1px solid rgb(202, 201, 201);
    text-align: start;
    width: 100%;
}
@media (min-width: 540px) {
    .contenedor {
        height: 100vh;
        width: 100%;
    }
    .contenedor1 {
        max-width: 450px;
    }
    .img-container {
        background-repeat: no-repeat;
        background-image: url(../../../assets/Background.png);
        height: 100vh;
        background-size: 100% 100%;    
    }
}